.icon {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust this value to add space from the top and left edges */
}

h1 {
  color: navy;
  text-align: center;
}

.icon {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--clr-accent);
  background-color: var(--clr-accent); /* Change background color to match */
  border: 10px solid var(--clr-accent);
  border-radius: 5px;

  /*transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;*/
  transition: all 0.3s;
}

.icon:hover {
  transform: translateY(-10px);
  background-color: var(--clr-light); /* Change background color on hover */
  color: var(--clr-accent); /* Change text color on hover */
}


*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f1eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 100px;
    height: 50px;
    background-color: #d2d2d2;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button::before{
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100px;
    margin: 5px;
    transition: 0.2s;
}
input:checked + .button{
    background-color: blue;
}
input:checked + .button::before{
    transform: translateX(100px);
    animation-name: toggle;
    animation-duration: 0.8s;
    transition-delay: 0.2s;
    
}
input{
    display: none;
}

@keyframes toggle{
    0%{
        width: 75px;
        height: 90px;
    }
    25%{
        margin: 10px;
        width: 30px;
        height: 80px;
    }
    50%{
        margin: 20px;
        width: 100px;
        height: 60px;
    }
    75%{
        margin: 5px;
        width: 70px;
        height: 90px;
    }
    100%{
        width: 75px;
        height: 90px;
    }

}
